<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="main-content">
            {{>header}}
            <div class="board-container">
                <div id="random-board" class="board">
                    <a href="/b/random" class="board-title">/random</a>
                </div>
                
                {{!-- <div id="random-board" class="board">
                    <a href="/b/random" class="board-title">/random</a>
                </div> --}}
            </div>
        </div>
        
        {{>footer}}
    </body>

</html>

