<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>wrldchan</title>
    </head>

    <body>

        <div class='main-content'>
            {{>header}}
            <h1>Labbayka</h1>

            <form action="" method="post" name="textIn">
                <div class='input'>
                    <textarea id="userInput" name="userInput"></textarea>
                </div>
                <input type="submit" name="submitBtn" value="Submit">
            </form>
        </div>

        <script src="/js/app.js"></script>
    </body>

</html>