<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>wrldchan</title>
    </head>

    <body>

        <div class='main-content'>
            <h1>Labbayka</h1>

            <div class='wrapper'>
                <form>
                    <textarea id="userInput"></textarea>
                </form>
            </div>
        </div>

    </body>

</html>