<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="/img/ice-cream-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>

        <div id='main-content'>
            {{>header}}
            <img src="/img/wrldchan.png" id="logo" width=700px>
            <div style="margin-left: auto; margin-right: auto; width: 50%;">
                <h1>高尚是高尚者的通行证,</h1>
                <h1>卑鄙是卑鄙者的墓志铭</h1>
            </div>

        </div>

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>