<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <div id="main-content">
            <h1 id="login-text">Login</h1>
            <form action="/login" method="POST">
                <input id="username">
                <input id="password">
                <button>Login</button>
            </form>
        </div>

        {{>footer}}
    </body>

</html>