<!DOCTYPE html>

<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="main-content">
            {{>header}}
            <div style="text-align: center;">
                <a class="new-post" href="/submitpost?b=random">{MAKE A NEW POST}</a>
            </div>
            
            {{#each posts}}
                <div class="post-block">
                    <a href="/b/random?post={{this._id}}">{{this.title}}</a>
                </div>
            {{/each}}
        </div>

        {{>footer}}
    </body>

</html>