<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}
        <%  var i;
        for i in reply{ %>
            <div class="reply-box">
                <p>i</p>
            </div>
        }%>
    </body>

</html>