<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}
        <div id="main-content">
            <p>{{reply}}</p>
            <script src="/js/replies.js" replies={{reply}}></script>
        </div>
    </body>

</html>