<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
        <script src="/js/reply.js"></script>
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <div style="padding: 5px;"></div>
            {{#each reply}}
                <div class="reply-box">
                    <p>{{addReply this.parent_id}}</p>
                    <p id="reply">{{this.description}}</p>
                    {{>replyFooter}}
                </div>
            {{/each}}
        </div>

        <form action="/deleteallreplies" method="POST">
            <input type="submit" class="deleteBtn" value="Delete All Replies">
        </form>

        {{>footer}}
    </body>

</html>