<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}
        <div class="reply-box">
            <p>{{reply}}</p>
        </div>
    </body>

</html>