<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}
        <div style="padding: 5px;"></div>
        {{#each reply}}
            <div id="reply-box">
                <p id="reply">{{this}}</p>
            </div>
        {{/each}}
    </body>

</html>