<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <div style="padding: 5px;"></div>
            {{#each reply}}
                <div id="reply-box">
                    <p id="reply">{{this}}</p>
                </div>
            {{/each}}
        </div>
        <form action="/deleteallreplies" method="POST">
            <input type="submit" name="deleteBtn" value="Delete All Replies">
        </form>
    </body>

</html>