<!DOCTYPE html>

<html> 

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <div style="padding: 5px;"></div>
            {{#each reply}}
                <div id="reply-box">
                    <p id="reply">{{this.description}}</p>
                    <form action="/deletereply/{{this._id}}" method="POST">
                        <input type="submit" class="deleteBtn" value="Delete">
                    </form>

                    <form action="/replyreply/{{this._id}}" method="POST">
                        <input type="submit" class="deleteBtn" value="Reply">
                    </form>
                </div>
            {{/each}}
        </div>

        <form action="/deleteallreplies" method="POST">
            <input type="submit" class="deleteBtn" value="Delete All Replies">
        </form>

        {{>footer}}
    </body>

</html>