<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="/css/styles.css">
        <title>Submit Post</title>
        <script src="/js/reply.js"></script>
        <script src="/js/style-text.js"></script>
        {{!-- recaptcha scripts --}}
        {{!-- <script src="https://www.google.com/recaptcha/api.js?render={{sitekey}}"></script> --}}
        {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
    </head>

    <body>
        {{>header}}
        <div class="main-content" style="margin-left: auto; margin-right: auto; width: 70%; margin-top: 50px;">
            

            <form id="submitpost-form" style="font-size: 16px;" action="/submitpost?b={{board}}" method="POST">
                <label for="posttitle">Title: </label> <br>
                <input type="text" id="posttitle" name="posttitle" size="82"><br>
                <input type="hidden" id="recaptcha" name="recaptcha">

                <label for="postcontent">Content: </label><br>
                {{!-- Style Buttons --}}
                <div id="outer">
                    <div class="inner-buttons"><button onclick="setSel('postcontent', 'bold')" type="button">bold</button></div>
                    <div class="inner-buttons"><button onclick="setSel('postcontent', 'italics')" type="button">italics</button></div>
                    <div class="inner-buttons"><button onclick="setSel('postcontent', 'header-2')" type="button">big head</button></div>
                    <div class="inner-buttons"><button onclick="setSel('postcontent', 'header-3')" type="button">small head</button></div>
                    <div class="inner-buttons"><button onclick="setSel('postcontent', 'link')" type="button">Link to Another Website</button></div>
                </div>
                <textarea type="text" id="postcontent" name="postcontent"></textarea><br>
                
                <input type="submit" class="deleteBtn" id="submitPostBtn" value="Submit Post">
            </form>


            {{!-- <script>
                function recaptchaFunc(e) {
                    e.preventDefault();
                    const board = "{{board}}";

                    const data = new URLSearchParams();
                    data.append('posttitle', document.getElementById("posttitle").value);
                    data.append('recaptcha', document.getElementById("recaptcha").value);
                    data.append('postcontent', document.getElementById('postcontent').value);

                    return axios({
                        method: "post", 
                        url: "/submitpost?b=" + board,
                        data: data
                    })
                    .then(res => {window.location.assign('/b/' + board)})
                    .catch(err => console.log(err));
                }

                const sitekey = "{{sitekey}}";
                grecaptcha.ready(function() {
                    grecaptcha.execute(sitekey)
                        .then(function(token) {
                            document.getElementById('recaptcha').value = token;
                            document.getElementById("submitpost-form").addEventListener('submit', recaptchaFunc);
                        });
                });
            </script> --}}

        </div>
        {{>footer}}
    </body>

</html>