<header>
    <a href="/" class="typical-a">HOME</a>
    <a href="/b/inep" class="typical-a">inep</a>
    {{!-- <a href="/b/tech">tech</a>
    <a href="/b/fic">fiction</a>
    <a href="/b/poli">politics</a> --}}
    {{!-- <a href="/login" id="login-header">Login/Create Account</a> --}}
</header>