<div class="reply-footer">
    {{!-- <form action="/deletereply/{{this}}" method="POST">
        <input type="submit" class="deleteBtn" value="Delete">
    </form> --}}

    <form action="/replyreply/{{this}}" method="POST">
        <input type="button" class="deleteBtn" value="Reply" id={{this}} onclick="reply(id)">

        <div id="replyArea-{{this}}" name="replyArea" style="display: none;">
            <textarea class="reply-area" name="replyArea" style="height: 200px; background-color: #4c4c4c;"></textarea>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>