h1 {
    color: #eeeeee;
    font-size: 64px;
}

body {
    font-family: arial;
    background-color: #363636;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#userInput {
    border: transparent;
    background-color: #292929;
    color: #eeeeee;
    font-family: Arial;
    padding: 0;
    width: 600px;
    height: 400px;
}

.main-content {
    flex-grow: 1;
}