header {
    padding: 5px 16px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: #2B2E30;
    font-size: 10px;
}

a {
    padding: 0 8px;
    color: #F0EFEC;
    text-decoration: none;
    font-family: Verdana;
}

body {
    font-family: Verdana;
    background-color: #363636;
    color: #eeeeee;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #eeeeee;
    font-size: 48px;
}

p {
    color: #eeeeee;
    font-family: Verdana;
}

form {
    display: inline;
}

footer {
    color: #bdbdbd;
    font-family: Verdana;
    font-size: 9px;
    border-top: 1px solid #bdbdbd;
}

textarea {
    border: transparent;
    background-color: #292929;
    color: #eeeeee;
    font-family: Verdana;
    padding: 10px;
    width: 600px;
    height: 400px;
}

input[name="submitBtn"] {
    margin: 2px 0;
    padding: 3px 5px;
    background-color: #eeeeee;
    color: #292929;
}


.deleteBtn {
    border: none;
    color: #bdbdbd;
    background-color: #4c4c4c;
    margin-bottom: 5px;
    font-size: 10px;
}

.reply-box-1 {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: block;
    margin: 5px 0;
    margin-right: 5px;
    padding-left: 10px;
}

.reply-box-2 {
    border: 2px solid #eeeeee;
    background-color: #363636;
    display: block;
    margin: 5px 0;
    margin-right: 5px;
    padding-left: 10px;
}

.reply-footer {
    margin-top: 10px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 50px;
}

.board {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: grid;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.board-title {
    font-size: 20px;
}

.new-post {
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: auto;
    color: #df7e47;
}

.new-post:hover {
    color: #bdbdbd;
}

.post-area {
    margin-top: 30px;
}


.post-block {
    border: none;
    background-color: #4c4c4c;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%
}

.view-comment-ref {
    float: right;
}

.view-comment-ref:hover {
    color: #bdbdbd;
}

.post-content-block {
    border: 2px solid #eeeeee;
    background-color: #292929;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-top: 10px;
    max-width: 800px;
    margin-bottom: 15px;
}

.announcement {
    border: 2px solid #ff9fb2;
    background-color: #4c4c4c;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 12px;
}

.timestamp {
    font-size: 9px;
    display: inline;
}

.timestamp-reply {
    font-size: 9px;
    float: right;
    margin-right: 15px;
}

.board-banner {
    padding: 20px;
    height: 60px;
}

.boardTitle{
    margin-top: 20px;
    border: 2px solid #ff9fb2;
    background-color: #4c4c4c;
    padding: 10px;
    font-size: 30px;
    color: #8be6a9;
}


/* Below are the id */


#main-content {
    justify-content: center;
    flex-grow: 1;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

#reply {
    white-space: pre-wrap;
}

#posttitle {
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    background-color: #292929;
    color: #eeeeee;
}

#banner-inep {
    background: #8be6a9 url(/img/brazil1985jill.jpg) 1%;
}

