header {
    padding: 5px 16px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: #2B2E30;
    font-size: 10px;
}

a {
    padding: 0 8px;
    color: #F0EFEC;
    text-decoration: none;
    font-family: Verdana;
}

body {
    font-family: arial;
    background-color: #363636;
    color: #eeeeee;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #eeeeee;
    font-size: 48px;
}

p {
    color: #eeeeee;
    font-family: Arial;
}

form {
    display: inline;
}

footer {
    color: #bdbdbd;
    font-family: Verdana;
    font-size: 9px;
    border-top: 1px solid #bdbdbd;
}

textarea {
    border: transparent;
    background-color: #292929;
    color: #eeeeee;
    font-family: Arial;
    padding: 10px;
    width: 600px;
    height: 400px;
}

input[name="submitBtn"] {
    margin: 2px 0;
    padding: 3px 5px;
    background-color: #eeeeee;
    color: #292929;
}


.deleteBtn {
    border: none;
    color: #bdbdbd;
    background-color: #4c4c4c;
    margin-bottom: 5px;
    font-size: 10px;
}

.reply-box-1 {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: block;
    margin: 5px 0;
    margin-right: 5px;
    padding-left: 10px;
}

.reply-box-2 {
    border: 2px solid #eeeeee;
    background-color: #363636;
    display: block;
    margin: 5px 0;
    margin-right: 5px;
    padding-left: 10px;
}

.reply-footer {
    margin-top: 10px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(8, min-content);
    grid-column-gap: 30px;
}

.board {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: grid;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.board-title {
    font-size: 30px;
}

.new-post {
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: auto;
}

.post-block {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: block;
    padding: 10px;
}

/* Below are the classes */


#main-content {
    justify-content: center;
    flex-grow: 1;
}

#reply {
    white-space: pre-wrap;
}

#posttitle {
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    background-color: #292929;
    color: #eeeeee;
}

.post-block {
    border: 2px solid #eeeeee;
    background-color: #292929;
    display: block;
    margin: 5px 0;
    margin-right: 5px;
    padding-left: 10px;
}
